#but1{
  background-color: rgb(208, 87, 87);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but2{
  background-color: rgb(207, 194, 194);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but3{
  background-color: rgb(143, 154, 42);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but4{
  background-color: rgb(42, 154, 92);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but5{
  background-color: rgb(44, 49, 42);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.butt{
  margin-top: 10px;
}

#but6{
  background-color: rgb(35, 108, 6);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but7{
  background-color: rgb(26, 52, 118);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but8{
  background-color: rgb(51, 140, 156);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but9{
  background-color: rgb(147, 32, 114);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#but10{
  background-color: rgb(221, 163, 75);
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}